mainmenu "Dopi Configuration"
comment "Dopi Compile Menuconfig"
choice
    prompt "Platform"
    default HISILICON
    help
        Please choice Soc platform

    config HISILICON
        bool "Hisilicon"


endchoice
choice
    prompt "Hisilicon Soc"
    depends on HISILICON
    default HI3516EV200
    help
        Please choice Soc platform

    config HI3516EV200
        bool "HI3516EV200"

endchoice
menu "BSP"
	source "bsp/Kconfig"
endmenu
menu "vendor"
	source "vendor/Kconfig"
endmenu
menu "App"
	source "app/Kconfig"
endmenu


